.ribbon {
  font-size: 2rem;
  /* font-weight: bold; */
  color: #fff;
}
.ribbon {
  --r: .8em;  
  
  border-block: .5em solid #0000;
  padding-inline: .5em calc(var(--r) + 1.5em);
  line-height: 2;
  clip-path: polygon(100% 0,0 0,0 100%,100% 100%,100% calc(100% - .25em),calc(100% - var(--r)) 50%,100% .25em);
  background:
   radial-gradient(.2em 50% at left,#000a,#0000) border-box,
   var(--dark-red) padding-box; 
  width: fit-content;
}