/* You can add global styles to this file, and also import other style files */
:root {
    --dark-red: #9A2808;
    --blue-green: #208177;
    --bg-color: #D0CAB2;
}

body {
    background-color: var(--bg-color);
}